* {
  box-sizing: border-box;
}

.wrapper{
  width:100vw;
  height:100vh;
  display: flex;

  .side-bar{
    width:300px;
    height: 100%  ;
    &__user-name{
      width: 100%;
      height: 100px;
      font-weight: bold;
      background-color: #253141;
      display: flex;

      &__box{
        width: 260px;
        height: 20px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        a{
          color:white
        }
        &__name{
          width: 60px;
          height: 100%;
          line-height: 20px;
          font-size: 16px;
          color:#ffffff;
        }
        &__menu{
          width: 60px;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          a{
            color:#ffffff;
            line-height: 20px;
          }
          a2{
            margin-left: 5px;
          }
        }
      }
    }  
    &__group-list{
      width: 100%;
      height: calc(100% - 100px);
      background-color: #2f3e51;
      color:white;
      a{
        color:white;
      }
      .group{
        width: 100%;
        height: 91px;
        position: relative;
        color: white;
        &__name{
          width: 260px;
          height: 15px;
          position: absolute;
          font-size: 15px;
          top:20px;
          left:20px;
        }
        &__message{
          width: 260px;
          height: 11px;
          position: absolute;
          top:40px;
          left:20px;
          font-size:11px;
          margin-top:5px;
        }
      }    
    }
  }
}
